Repository erloma/Manaflo, pull requests merged in 2025-04, with the labels that each got.

#20 Resolve: 13 implement a register and login feature
  .gitignore
  backend/user-service/auth/auth.go
  backend/user-service/go.mod
  backend/user-service/go.sum
  backend/user-service/handlers/user_handler.go
  backend/user-service/main.go
  backend/user-service/middleware/auth.go
  backend/user-service/models/models.go
  backend/user-service/repositories/user_repository.go
  backend/user-service/routes/routes.go
  backend/user-service/services/user_service.go
  backend/user-service/utils/utils.go
  frontend/src/App.tsx
  frontend/src/components/login-form.tsx
  frontend/src/components/register-form.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RegisterPage.tsx
Labels: enhancement, under_review, backend, frontend

#21 Resolve '14 implement creation of tasks for a project'
  backend/task-service/auth/auth.go
  backend/task-service/go.mod
  backend/task-service/go.sum
  backend/task-service/handlers/task_handler.go
  backend/task-service/main.go
  backend/task-service/middleware/middleware.go
  backend/task-service/models/models.go
  backend/task-service/repositories/task_repository.go
  backend/task-service/routes/routes.go
  backend/task-service/services/task_service.go
  frontend/src/components/CreateTaskForm.tsx
  frontend/src/components/DatePicker.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/pages/FirstPage.tsx
  frontend/src/pages/HomePage.tsx
  frontend/tailwind.config.js
  frontend/vite.config.ts
Labels: enhancement, backend, frontend

#24 15 implement functionality to update user profile
  backend/user-service/handlers/user_handler.go
  backend/user-service/main.go
  backend/user-service/models/models.go
  backend/user-service/repositories/user_repository.go
  backend/user-service/routes/routes.go
  backend/user-service/services/user_service.go
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/editIcon.png
  frontend/src/App.tsx
  frontend/src/components/accountSettings.tsx
Labels: enhancement, done, backend, frontend

#26 Resolve '25 refactor frontend with modular api request service class'
  backend/task-service/handlers/task_handler.go
  frontend/src/App.tsx
  frontend/src/components/CreateTaskForm.tsx
  frontend/src/components/LoginForm.tsx
  frontend/src/components/RegisterForm.tsx
  frontend/src/components/accountSettings.tsx
  frontend/src/lib/api/services/logins.ts
  frontend/src/lib/api/services/tasks.ts
  frontend/src/lib/api/services/users.ts
  frontend/src/lib/api/types/task.ts
  frontend/src/lib/api/types/user.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/RegisterPage.tsx
Labels: under_review, frontend, refactor

#27 Resolve '16 implement functionality for creating a project'
  backend/project-service/go.mod
  backend/project-service/go.sum
  backend/project-service/handlers/project_handler.go
  backend/project-service/handlers/project_handler_test.go
  backend/project-service/models/models.go
  backend/project-service/repositories/project_repository.go
  backend/project-service/routes/routes.go
  backend/project-service/services/project_service.go
  frontend/src/App.tsx
  frontend/src/components/AppSidebar.tsx
  frontend/src/components/CreateProjectCard.tsx
  frontend/src/components/SearchForm.tsx
  frontend/src/components/VersionSwitcher.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/hooks/use-mobile.ts
  frontend/src/lib/api/services/projects.ts
  frontend/src/lib/api/types/project.ts
  frontend/src/pages/HomePage.tsx
Labels: enhancement, under_review, backend, frontend
